<div class="banner inner">
    <div class="container">
        <h1>Banner Class</h1>
        <p>Display a page/post specific banner.</p>
    </div>
</div>

<main class="doc-body">
    <div class="container">

        <!-- Theme Version -->
        <!-- Search -->
        <!-- Expand all examples -->

        <div class="method">
            <h3 id="banner-render" class="name">
                <a href="#banner-render" class="copy-anchor">render()</a>
            </h3>

            <div class="description">
                <p>Display banner</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$args</td>
                    <td>optional</td>
                    <td>An array of display options. Specific arguments are explained below.</td>
                </tr>
                <tr>
                    <td class="arg">type</td>
                    <td>Defaults to <strong>current post type</strong></td>
                    <td>The current post's fields are merged into any existing global banners for this post type.</td>
                </tr>
                <tr>
                    <td class="arg">file</td>
                    <td>Defaults to <strong>default</strong></td>
                    <td>The PHP file that is to be displayed on the page (sans the .php extension)</td>
                </tr>
                <tr>
                    <td class="arg">group</td>
                    <td>Defaults to <strong>group_57222a6aad633</strong></td>
                    <td>The internal ACF group that is used to pull field keys from. It currently defaults to "Banner (Default)".</td>
                </tr>
                <tr>
                    <td class="arg">post_id</td>
                    <td>Defaults to <strong>false</strong></td>
                    <td>The specific post to pull banner details from. Leaving as false will pull the current post id. This is most useful for pages where the banner render occurs outside of the main WordPress loop such as Archives or Categories.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage on new post types</p>
                <code>
                    Banner::render();
                </code>
                <p>Setting up a new banner group</p>
                <code>
                    Banner::render([<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;'group' => 'group_582d17dfe568d',<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;'file'  => 'home',<br>
                    ]);
                </code>
                <p>Adding the default banner to a custom post type that doesn't use the internal loop</p>
                <code>
                    Banner::render([<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;'type' => 'woocommerce',<br>
                    ]);
                </code>
            </div>
        </div>

    </div>
</main>
