<div class="banner inner">
    <div class="container">
        <h1>Field Class</h1>
        <p>This is a helper class for manipulating block level data.</p>
    </div>
</div>

<main class="doc-body">
    <div class="container">

        <!-- Theme Version -->
        <!-- Search -->
        <!-- Expand all examples -->

        <div class="method">
            <h3 id="field-get" class="name">
                <a href="#field-get" class="copy-anchor">get()</a>
            </h3>

            <div class="description">
                <p>Return an entry by name</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
                <tr>
                    <td>$default</td>
                    <td>optional, default is <strong>""</strong></td>
                    <td>Default value when field doesn't exist</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    $first = Field::get('first');<br><br>
                    // John<br><br>
                    $occupation = Field::get('occupation');<br><br>
                    // ""
                </code>

                <p>Using a default value</p>

                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    $occupation = Field::get('occupation', 'Unemployed');<br><br>
                    // Unemployed
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-display" class="name">
                <a href="#field-display" class="copy-anchor">display()</a>
            </h3>

            <div class="description">
                <p>Display an entry by name</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
                <tr>
                    <td>$default</td>
                    <td>optional, default is <strong>""</strong></td>
                    <td>Default value when field doesn't exist</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::display('first');<br><br>
                    // prints "John"<br><br>
                    Field::display('occupation');<br><br>
                    // prints ""
                </code>

                <p>Using a default value</p>

                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::display('occupation', 'Unemployed');<br><br>
                    // prints "Unemployed"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-exists" class="name">
                <a href="#field-exists" class="copy-anchor">exists()</a>
            </h3>

            <div class="description">
                <p>Check existance of an entry</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    $first = Field::exists('first');<br><br>
                    // true<br><br>
                    $occupation = Field::exists('occupation');<br><br>
                    // false
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-html" class="name">
                <a href="#field-html" class="copy-anchor">html()</a>
            </h3>

            <div class="description">
                <p>Display field wrapped in HTML</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
                <tr>
                    <td>$wrap</td>
                    <td>optional, default is <strong>%s</strong></td>
                    <td>Formatted string</td>
                </tr>
                <tr>
                    <td>$default</td>
                    <td>optional, default is <strong>""</strong></td>
                    <td>Default value when field doesn't exist</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::html('first', '&lt;p&gt;%s&lt;/p&gt;');<br><br>
                    // prints "&lt;p&gt;John&lt;/p&gt;"
                </code>
                <p>Using a default value</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::html('occupation', '&lt;p&gt;%s&lt;/p&gt;', '&lt;p&gt;Developer&lt;/p&gt;');<br><br>
                    // prints "&lt;p&gt;Developer&lt;/p&gt;"
                </code>
                <p>If you only fill out the required field this method operates exactly like <code class="inline">Field::display()</code></p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::html('first');<br><br>
                    // prints "John"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-equals" class="name">
                <a href="#field-equals" class="copy-anchor">equals()</a>
            </h3>

            <div class="description">
                <p>Compare a value against a field</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
                <tr>
                    <td>$val</td>
                    <td>required</td>
                    <td>Value to compare against</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    $first = Field::equals('first', 'John');<br><br>
                    // true
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-image" class="name">
                <a href="#field-image" class="copy-anchor">image()</a>
            </h3>

            <div class="description">
                <p>Display an <code class="inline">&lt;img&gt;</code>. The alt attribute is automatically filled out based on what is set within WordPress. If you need full control over the output of the image tag use <code class="inline"><a href="#field-src">Field::src()</a></code></p>
                <p><small><strong>Note:</strong> This method assumes the return value of the image field is an ID.</small></p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field key</td>
                </tr>
                <tr>
                    <td>$size</td>
                    <td>optional, default is <strong>full</strong></td>
                    <td>The size of the returned image. All standard WordPress image sizes are recognized. The size can also be represented as an array.</td>
                </tr>
                <tr>
                    <td>$attrs</td>
                    <td>optional, default is <strong>[]</strong></td>
                    <td>Additional attributes that should be added to the &lt;img&gt; tag</td>
                </tr>
                <tr>
                    <td>$crop</td>
                    <td>optional, default is <strong>false</strong></td>
                    <td>Setting this value will crop the output image into the dimensions provided in the $size parameter</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['image' => 10]<br><br>
                    Field::image('image');<br><br>
                    // prints &lt;img src="/path/to/image" alt="Image alt"&gt;<br><br>
                    Field::image('image', 'medium');<br><br>
                    // prints &lt;img src="/path/to/medium-image" alt="Image alt"&gt;
                </code>
                <p>Setting additional attributes</p>
                <code>
                    // ['image' => 10]<br><br>
                    Field::image('image', 'full', ['class' => 'accent']);<br><br>
                    // prints &lt;img src="/path/to/image" alt="Image alt" class="accent"&gt;<br><br>
                </code>
                <p>When using the <code class="inline">$crop</code> parameter an image with the set dimensions is created in the file system removing the need for this method to crop with every use. There is a <code class="inline"><a href="#field-cropped-image">Field::croppedImage()</a></code> shorthand the removes the need to set all parameters.</p>
                <code>
                    // ['image' => 10]<br><br>
                    Field::image('image', [500, 500], ['class' => 'accent'], true);<br><br>
                    // prints &lt;img src="/path/to/500x500image" alt="Image alt" class="accent"&gt;;<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-url" class="name">
                <a href="#field-url" class="copy-anchor">url()</a>
            </h3>

            <div class="description">
                <p>Adds http if the provided url is missing a protocol. On page and protocol relative urls are ignored.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['link1' => 'google.com', 'link2' => '#relative']<br><br>
                    $link1 = Field::url('link1');<br><br>
                    // http://google.com<br><br>
                    $link2 = Field::url('link2');<br><br>
                    // #relative
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-shortcode" class="name">
                <a href="#field-shortcode" class="copy-anchor">shortcode()</a>
            </h3>

            <div class="description">
                <p>Wraps field contents with <code class="inline">do_shortcode</code> and prints to screen.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['shortcode' => '[display_content]']<br><br>
                    Field::shortcode('shortcode');<br><br>
                    // Prints output of [display_content]
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-cropped-image" class="name">
                <a href="#field-cropped-image" class="copy-anchor">croppedImage()</a>
            </h3>

            <div class="description">
                <p>This is a shorthand version of <code class="inline"><a href="#field-image">Field::image()</a></code> with the crop parameter set. If you don't set the size in an array this method works exactly the same as <code class="inline">Field::image()</code>.</p>
                <p><small><strong>Note:</strong> This method assumes the return value of the image field is an ID.</small></p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field key</td>
                </tr>
                <tr>
                    <td>$size</td>
                    <td>optional, default is <strong>full</strong></td>
                    <td>The size of the returned image. It is recommended you provide the size in an array, however all standard WordPress image sizes are recognized.</td>
                </tr>
                <tr>
                    <td>$attrs</td>
                    <td>optional, default is <strong>[]</strong></td>
                    <td>Additional attributes that should be added to the &lt;img&gt; tag</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['image' => 10]<br><br>
                    Field::croppedImage('image', [500, 500]);<br><br>
                    // prints &lt;img src="/path/to/500x500-image" alt="Image alt"&gt;
                </code>
                <p>Setting additional attributes</p>
                <code>
                    // ['image' => 10]<br><br>
                    Field::croppedImage('image', [500, 500], ['class' => 'accent']);<br><br>
                    // prints &lt;img src="/path/to/500x500-image" alt="Image alt" class="accent"&gt;<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-src" class="name">
                <a href="#field-src" class="copy-anchor">src()</a>
            </h3>

            <div class="description">
                <p>Provides the path to a resized image</p>
                <p><small><strong>Note:</strong> This method assumes the return value of the image field is an ID.</small></p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field key</td>
                </tr>
                <tr>
                    <td>$size</td>
                    <td>optional, default is <strong>full</strong></td>
                    <td>The size of the returned image. It is recommended you provide the size in an array, however all standard WordPress image sizes are recognized.</td>
                </tr>
                <tr>
                    <td>$crop</td>
                    <td>optional, default is <strong>false</strong></td>
                    <td>Setting this value will crop the output image into the dimensions provided in the $size parameter</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['image' => 10]<br><br>
                    echo '&lt;img src="' . Field::src('image', [500, 500]) . '"&gt;<br><br>
                    // prints &lt;img src="/path/to/500x500-image"&gt;<br><br>
                    echo 'style="background-image: url(' . Field::src('image', [500, 500]) . ');"<br><br>
                    // prints style="background-image: url(/path/to/500x500-image);"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-set-data" class="name">
                <a href="#field-set-data" class="copy-anchor">setData()</a>
            </h3>

            <div class="description">
                <p>Set data that all the other methods reference. Calling <code class="inline"><a href="#field-restore">Field::restore()</a></code> will reset previous data set.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$data</td>
                    <td>required</td>
                    <td>Provide an array that should be stored for future use</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    $data = ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::setData($data);<br><br>
                    $first = Field::get('first');<br><br>
                    // John<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-restore" class="name">
                <a href="#field-restore" class="copy-anchor">restore()</a>
            </h3>

            <div class="description">
                <p>Reset data to the previous set.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Field::setData(['example' => 'Tom']);<br><br>
                    Field::setData(['example' => 'Bill']);<br><br>
                    $first = Field::get('example');<br><br>
                    // Bill<br><br>
                    Field::restore();<br><br>
                    $first = Field::get('example');<br><br>
                    // Tom
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-get-all" class="name">
                <a href="#field-get-all" class="copy-anchor">getAll()</a>
            </h3>

            <div class="description">
                <p>Return current data set</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Field::setData(['first' => 'Tom', 'last' => 'Jones']);<br><br>
                    $data = Field::getAll();<br><br>
                    // ['first' => 'Tom', 'last' => 'Jones']
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-debug" class="name">
                <a href="#field-debug" class="copy-anchor">debug()</a>
            </h3>

            <div class="description">
                <p>Displays current data set wrapped in a <code class="inline">&lt;pre&gt;</code></p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Field::setData(['first' => 'Tom', 'last' => 'Jones']);<br><br>
                    Field::debug();<br><br>
                    // &lt;pre&gt;<br>
                    // Array<br>
                    // (<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;[first] => Tom<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;[last] => Jones<br>
                    // )<br>
                    // &lt;/pre&gt;
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-display-if-equals" class="name">
                <a href="#field-display-if-equals" class="copy-anchor">displayIfEquals()</a>
            </h3>

            <div class="description">
                <p>Combines the functionality of <code class="inline">display()</code> and <code class="inline">equals()</code>. Essentially removes the need to write an if statement.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
                <tr>
                    <td>$val</td>
                    <td>required</td>
                    <td>Value to test against</td>
                </tr>
                <tr>
                    <td>$pass</td>
                    <td>optional, default is <strong>"%s"</strong></td>
                    <td>String to be displayed upon success. <code class="inline">%s</code> can be used similar to <code class="inline"><a href="#field-html">Field::html()</a></code> to wrap html around <code class="inline">$val</code></td>
                </tr>
                <tr>
                    <td>$fail</td>
                    <td>optional, default is <strong>""</strong></td>
                    <td>String to be displayed when the field does not equal $val.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::displayIfEquals('first', 'John');<br><br>
                    // prints "John"<br><br>
                    Field::displayIfEquals('first', 'John', 'First name is John');<br><br>
                    // prints "First name is John"<br><br>
                    Field::displayIfEquals('first', 'John', 'First name is %s');<br><br>
                    // prints "First name is John"<br><br>
                    Field::displayIfEquals('first', 'Jill', 'First name is Jill', 'Not a valid name');<br><br>
                    // prints "Not a valid name"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-all-exist" class="name">
                <a href="#field-all-exist" class="copy-anchor">allExist()</a>
            </h3>

            <div class="description">
                <p>Check existance of all fields.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$fields</td>
                    <td>required</td>
                    <td>Field names</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::allExist('first', 'last');<br><br>
                    // true<br><br>
                    Field::allExist('first', 'last', 'occupation');<br><br>
                    // false<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-any-exist" class="name">
                <a href="#field-any-exist" class="copy-anchor">anyExist()</a>
            </h3>

            <div class="description">
                <p>Check existance of any field.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$fields</td>
                    <td>required</td>
                    <td>Field names</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <code>
                    // ['first' => 'John', 'last' => 'Smith']<br><br>
                    Field::anyExist('first', 'last');<br><br>
                    // true<br><br>
                    Field::anyExist('first', 'last', 'occupation');<br><br>
                    // true<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-is-array" class="name">
                <a href="#field-is-array" class="copy-anchor">isArray()</a>
            </h3>

            <div class="description">
                <p>Check whether field is an array.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <code>
                    // ['first' => 'John', 'dogs' => ['Ralph', 'Frank']]<br><br>
                    Field::isArray('first');<br><br>
                    // false<br><br>
                    Field::isArray('dogs');<br><br>
                    // true<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-count" class="name">
                <a href="#field-count" class="copy-anchor">count()</a>
            </h3>

            <div class="description">
                <p>Count children of field. Returns null on non-array.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <code>
                    // ['first' => 'John', 'dogs' => ['Ralph', 'Frank']]<br><br>
                    Field::count('first');<br><br>
                    // null<br><br>
                    Field::count('dogs');<br><br>
                    // 2<br><br>
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-iterable" class="name">
                <a href="#field-iterable" class="copy-anchor">iterable()</a>
            </h3>

            <div class="description">
                <p>Loop through current data set. Each iteration returns an instance of <code class="inline"><a href="#">Loop</a></code> and sets up a new <code class="inline">Field</code> class. This is intended to assist with repeating sets of nested fields.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Example</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Example</h4>
                <code>
                    // ['dataset' => [<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;['name' => 'Bill'],<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;['name' => 'John'],<br>
                    ]<br><br>
                    foreach (Field::iterable('dataset') as $loop) {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;echo $loop->index . ' - ' Field::get('name'); . '&lt;br&gt;'<br>
                    }<br><br>
                    // prints<br>
                    // "0 - Bill"<br>
                    // "1 - John"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="field-relationship" class="name">
                <a href="#field-relationship" class="copy-anchor">relationship()</a>
            </h3>

            <div class="description">
                <p>Loop through a relationship field. Each iteration sets up post data, returns an instance of <code class="inline"><a href="#">Loop</a></code> and sets up a new <code class="inline">Field</code> class.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Example</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$field</td>
                    <td>required</td>
                    <td>Field name</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Example</h4>
                <code>
                    // ['dataset' => [<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;['post' => ['post_title' => 'Post 1', ...]],<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;['post' => ['post_title' => 'Post 2', ...]],<br>
                    ]<br><br>
                    foreach (Field::relationship('dataset') as $loop) {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;echo $loop->index . ' - ' get_the_title(); . '&lt;br&gt;'<br>
                    }<br><br>
                    // prints<br>
                    // "0 - Post 1"<br>
                    // "1 - Post 2"
                </code>
            </div>
        </div>

    </div>
</main>
