<div class="banner inner">
    <div class="container">
        <h1>Layout Class</h1>
        <p>Display all the blocks for the current post.</p>
    </div>
</div>

<main class="doc-body">
    <div class="container">

        <!-- Theme Version -->
        <!-- Search -->
        <!-- Expand all examples -->

        <div class="method">
            <h3 id="layout-render" class="name">
                <a href="#layout-render" class="copy-anchor">render()</a>
            </h3>

            <div class="description">
                <p>The main method that displays a set of blocks. Blocks are pulled in order from a selected layout on a page or a layout preset to a post type followed by the blocks on the current page.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$args</td>
                    <td>optional</td>
                    <td>An array of display options. Specific arguments are explained below.</td>
                </tr>
                <tr>
                    <td class="arg">default</td>
                    <td>Defaults to <strong>basic_content</strong></td>
                    <td>When no blocks are set on the current page this is the block that gets loaded as a placeholder.</td>
                </tr>
                <tr>
                    <td class="arg">post_id</td>
                    <td>Defaults to <strong>false</strong></td>
                    <td>The specific post to pull blocks from. Leaving as false will pull the current post id. This is most useful for pages where the block rendering occurs outside of the main WordPress loop such as Archives or Categories.</td>
                </tr>
                <tr>
                    <td class="arg">type</td>
                    <td>Defaults to <strong><em>Current post type</em></strong></td>
                    <td>Determines which post type is checked for an existing layout.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Layout::render();
                </code>
                <p>Setting up a custom post type that doesn't use the block system</p>
                <code>
                    Layout::render([<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;'default' => 'project_body',<br>
                    ]);
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-flexible" class="name">
                <a href="#layout-flexible" class="copy-anchor">flexible()</a>
            </h3>

            <div class="description">
                <p>A helper method for rendering flexible fields. Each layout within the flexible field need to be placed in a folder with their file name matching the layout name. The <code class="inline">Field</code> class is accessible in each block.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$blocks</td>
                    <td>Defaults to <strong>[]</strong></td>
                    <td>An array of blocks. Can be the direct result of <code class="inline">Field::get</code></td>
                </tr>
                <tr>
                    <td>$folder</td>
                    <td>Defaults to <strong>blocks</strong></td>
                    <td>The directory that all the individual files are located.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['nested_blocks' => [<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'block1', 'field1' => 'Field 1'],<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'block2', 'field2' => 'Field 2'],<br>
                    // ]];<br><br>

                    Layout::flexible(Field::get('nested_blocks'), 'nested_blocks');<br><br>

                    // Renders:<br>
                    // /nested_blocks/block1.php<br>
                    // /nested_blocks/block2.php
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-id" class="name">
                <a href="#layout-id" class="copy-anchor">id()</a>
            </h3>

            <div class="description">
                <p>Prints out a block id attribute. The ID is auto generated, but can be explicitly set in the WordPress interface on each block.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$prefix</td>
                    <td>Defaults to <strong>block</strong></td>
                    <td>If the IDs are being auto generated you can specify which string is used as the base for each block.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage (assumes Block ID hasn't been set)</p>
                <code>
                    Layout::id();<br><br>

                    // id="block1"
                </code>
                <p>Using a prefix</p>
                <code>
                    Layout::id('sidebar');<br><br>

                    // id="sidebar1"
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-partial" class="name">
                <a href="#layout-partial" class="copy-anchor">partial()</a>
            </h3>

            <div class="description">
                <p>Displays a view from the "blocks/partials" folder.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$view</td>
                    <td>required</td>
                    <td>The file name to render, minus the extension.</td>
                </tr>
                <tr>
                    <td>$data</td>
                    <td>optional</td>
                    <td>An array of data to be used within the view. This information will be set within the <code class="inline">Field</code> class.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Layout::partial('background');<br><br>

                    // Renders:<br>
                    // /blocks/partials/background.php
                </code>
                <p>Passing additional data</p>
                <code>
                    // File: /blocks/partials/support.php<br>
                    // &lt;?php Field::display('example'); ?&gt;<br><br>

                    Layout::partial('support', ['example' => 'Text']);<br><br>

                    // Text
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-partials" class="name">
                <a href="#layout-partials" class="copy-anchor">partials()</a>
            </h3>

            <div class="description">
                <p>Display multiple views from the "blocks/partials" folder. Each parameter is a view to load.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$views</td>
                    <td>required</td>
                    <td>Multiple views</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Layout::partials('background', 'video');<br><br>

                    // Renders:<br>
                    // /blocks/partials/background.php<br>
                    // /blocks/partials/video.php
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-get-content" class="name">
                <a href="#layout-get-content" class="copy-anchor">getContent()</a>
            </h3>

            <div class="description">
                <p>Return current post's content field formatted with <code class="inline">the_content</code>.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    Layout::getContent();
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-contains-block" class="name">
                <a href="#layout-contains-block" class="copy-anchor">containsBlock()</a>
            </h3>

            <div class="description">
                <p>Check if a particular block has been added to current page. This is extremely useful within functions.php for loading assets.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$block</td>
                    <td>required</td>
                    <td>Block file name.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['blocks' => [<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'map', ...],<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'content_with_sidebar', ...],<br>
                    // ]];<br><br>

                    Layout::containsBlock('map');<br><br>

                    // true
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-contains-blocks" class="name">
                <a href="#layout-contains-blocks" class="copy-anchor">containsBlocks()</a>
            </h3>

            <div class="description">
                <p>Check if the current page contains any of the blocks. Each parameter is a block. This is extremely useful within functions.php for loading assets.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$blocks</td>
                    <td>required</td>
                    <td>Block file names.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // ['blocks' => [<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'map', ...],<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;['acf_fc_layout' => 'content_with_sidebar', ...],<br>
                    // ]];<br><br>

                    Layout::containsBlocks('map', 'columns');<br><br>

                    // true
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-classes" class="name">
                <a href="#layout-classes" class="copy-anchor">classes()</a>
            </h3>

            <div class="description">
                <p>Display list of current classes for a block. An additional set of classes can be passed to the method.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$classes</td>
                    <td>required</td>
                    <td>Class names to prepend to list.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // Layout::addClass('class1');
                    // Layout::addClass('class2');

                    Layout::classes('class3');<br><br>

                    // class3 class1 class2
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-add-class" class="name">
                <a href="#layout-add-class" class="copy-anchor">addClass()</a>
            </h3>

            <div class="description">
                <p>Add a class to the end of the stack for the current block.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$class</td>
                    <td>required</td>
                    <td>Class name to append to the list.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // Layout::addClass('class1');
                    // Layout::addClass('class2');

                    Layout::classes('class3');<br><br>

                    // class3 class1 class2
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="layout-add-classes" class="name">
                <a href="#layout-add-classes" class="copy-anchor">addClasses()</a>
            </h3>

            <div class="description">
                <p>Add a set of classes to the beginning of the stack for the current block.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$classes</td>
                    <td>required</td>
                    <td>Class names to prepend to the list.</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    // Layout::addClasses('class1', 'class2');

                    Layout::classes('class3');<br><br>

                    // class3 class1 class2
                </code>
            </div>
        </div>

    </div>
</main>
