<div class="banner inner">
    <div class="container">
        <h1>Loop Class</h1>
        <p>A helper class to keep track of current iteration within a loop.</p>
    </div>
</div>

<main class="doc-body">
    <div class="container">

        <!-- Theme Version -->
        <!-- Search -->
        <!-- Expand all examples -->

        <div class="method">
            <h2 id="loop-intro" class="name">
                <a href="#loop-intro" class="copy-anchor">Intro</a>
            </h2>

            <div class="description">
                <p>The loop class is useful when trying to keep track of your place within a loop. This class was designed to be used alongside the <code class="inline">Field::iterable()</code> method.</p>

                <p>The class consists of a contructor and a single method which opens up direct access to the various properties.</p>
            </div>

            <h4 class="heading">Namespace</h4>
            <table class="params">
                <tr>
                    <td>Arcadia\Helper</td>
                </tr>
            </table>

            <h4 class="heading">Properties</h4>
            <table class="params">
                <tr>
                    <td>$first</td>
                    <td>boolean</td>
                    <td>Whether current iteration is the first</td>
                </tr>
                <tr>
                    <td>$last</td>
                    <td>boolean</td>
                    <td>Whether current iteration is the last</td>
                </tr>
                <tr>
                    <td>$index</td>
                    <td>interger</td>
                    <td>Current iteration using a zero based index</td>
                </tr>
                <tr>
                    <td>$count</td>
                    <td>interger</td>
                    <td>Total iterations</td>
                </tr>
            </table>
        </div>

        <div class="method">
            <h3 id="loop-contruct" class="name">
                <a href="#loop-contruct" class="copy-anchor">__construct()</a>
            </h3>

            <div class="description">
                <p>Sets up beginning of loop</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$count</td>
                    <td>required</td>
                    <td>Number of items in the array</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Creating a new instance</p>
                <code>
                    $data = ['item 1', 'item 2', 'item 3'];<br>
                    $loop = new \Arcadia\Helper\Loop(count($data));<br><br>

                    // first = true, last = false, index = 0; count = 3
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="loop-iterate" class="name">
                <a href="#loop-iterate" class="copy-anchor">iterate()</a>
            </h3>

            <div class="description">
                <p>Progress the internal pointer</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Moving the pointer</p>
                <code>
                    $data = ['item 1', 'item 2', 'item 3'];<br>
                    $loop = new \Arcadia\Helper\Loop(count($data));<br><br>

                    // first = true, last = false, index = 0; count = 3<br><br>

                    foreach ($data as $item) {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$loop->iterate();<br>
                    }<br><br>

                    // first = false, last = true, index = 2; count = 3
                </code>
            </div>
        </div>

    </div>
</main>
