<div class="banner inner">
    <div class="container">
        <h1>Store Hours Class</h1>
        <p>A collection of helper methods for dealing with a location's hours.</p>
    </div>
</div>

<main class="doc-body">
    <div class="container">

        <div class="method">
            <h2 id="loop-intro" class="name">
                <a href="#loop-intro" class="copy-anchor">Intro</a>
            </h2>

            <div class="description">
                <p>All the data used within this class is pulled from the Business Hours tab within Theme Settings.</p>
            </div>
        </div>

        <div class="method">
            <h3 id="store-data" class="name">
                <a href="#store-data" class="copy-anchor">data()</a>
            </h3>

            <div class="description">
                <p>Return array containing current hours. Hours are stored using a 0 based index.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    $hours = StoreHours::data();<br><br>

                    // [<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;0 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Sunday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;1 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Monday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;2 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Tuesday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;3 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Wednesday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;4 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Thursday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;5 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Friday'],<br>
                    // &nbsp;// &nbsp;// &nbsp;// &nbsp;6 => ['open' => '9:00', 'close' => '23:00', 'closed' => false, 'label' => 'Saturday']<br>
                    // ]
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="store-day-of-week" class="name">
                <a href="#store-day-of-week" class="copy-anchor">dayOfWeek()</a>
            </h3>

            <div class="description">
                <p>Return the named day of the week.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>$day</td>
                    <td>optional, default is <strong>today</strong></td>
                    <td>0 based index for day</td>
                </tr>
                <tr>
                    <td>$length</td>
                    <td>optional, default is <strong>999</strong></td>
                    <td>String length of week day</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    StoreHours::dayOfWeek(0);<br><br>
                    // Sunday<br><br>
                    StoreHours::dayOfWeek(1, 3);<br><br>
                    // Mon
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="store-today" class="name">
                <a href="#store-today" class="copy-anchor">today()</a>
            </h3>

            <div class="description">
                <p>Return today's hours.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    StoreHours::today();<br><br>
                    // [<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;'open' => '09:00',<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;'close' => '17:00',<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;'closed' => false,<br>
                    // &nbsp;&nbsp;&nbsp;&nbsp;'label' => 'Monday'<br>
                    // ]
                </code>
            </div>
        </div>

        <div class="method">
            <h3 id="store-is-visible" class="name">
                <a href="#store-is-visible" class="copy-anchor">isVisible()</a>
            </h3>

            <div class="description">
                <p>Checks whether the user has set any store hours.</p>
            </div>

            <div class="view-example">
                <button type="button"><em class="fa fa-code"></em> View Examples</button>
            </div>

            <h4 class="heading">Parameters</h4>
            <table class="params">
                <tr>
                    <td>None</td>
                </tr>
            </table>

            <div class="examples">
                <h4 class="heading">Examples</h4>
                <p>Basic usage</p>
                <code>
                    StoreHours::isVisible();<br><br>
                    // true
                </code>
            </div>
        </div>

        <!-- combineAll -->

        <!-- combineLinear -->

    </div>
</main>
