<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer Documentation | {{ title }}</title>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <aside class="secondary-nav">
        <a href="/developers" class="logo">Arcadia</a>
        {{> nav/developer}}
    </aside>

    <header class="header inner">
        <div class="container">
            {{> nav/primary}}
        </div>
    </header>

    {{{ content }}}

    <footer class="footer inner">
        <div class="container">
            <div class="copyright">Copyright &copy; 2017. All rights reserved.</div>
            {{> nav/footer}}
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
