.scheme-light {
    .btn {
        border: 2px solid white;

        &:hover {
            background: white;
            color: black;
        }
    }
}

.scheme-dark {
    .btn {
        border: 2px solid $default-text-color;

        &:hover {
            background: black;
            color: white;
        }
    }
}

.btn {
	display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;

    .fa {
        color: inherit;

        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
    }
}
