.method {
    color: #6e6e6e;
    margin: 1rem 0;

    &:not(:first-child) {
        margin-top: 3rem;
    }

    .name {
        color: $default-text-color;
        @include font-size(30px);
        font-weight: 300;

        a {
            position: relative;

            &:before {
                content: "\f0c1";
                font-family: $font-family-icons;
                color: #5cc7b2;
                opacity: 0.3;
                position: absolute;
                top: 2px;
                left: -32px;
                @include font-size(24px);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }

            &:hover {
                &:before {
                    opacity: 0.8;
                }
            }
        }
    }

    .heading {
        @include font-size(18px);
        margin-top: 2rem;
    }

    .params {
        margin: 1rem 0;
        font-weight: 300;
        background: #f9f9f9;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        @include font-size(14px);
        border-spacing: 0;
        width: 100%;

        tr:not(:first-child) td {
            border-top: 1px solid #ddd;
        }

        td {
            padding: 0.5rem 1rem;
            vertical-align: top;

            &:first-child {
                width: 20%;
            }

            &:last-child {
                width: 60%;
            }

            &.arg {
                padding-left: 2rem;
            }
        }
    }

    .view-example {
        float: right;
        margin-top: 1.5rem;

        button {
            border: none;
            background: none;
            color: #00BFA5;
            @include font-size(14px);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-family: $font-family-secondary;
            outline: none;

            .fa {
                margin-right: 0.25rem;
            }
        }
    }

    .examples {
        display: none;

        &.open {
            display: block;
        }
    }

    code {
        background: #f9f9f9;
        display: block;
        padding: 1rem;
        @include font-size(13px);
        line-height: 1rem;
        box-shadow: 1px 1px 3px 0 fade-out(black, 0.7);
        margin: 1rem 0 2rem 0;

        &.inline {
            display: inline-block;
            padding: 0.25rem;
            box-shadow: 0 1px 1px 0 fade-out(black, 0.8);
            color: #f4645f;
            @include font-size(12px);
            line-height: 1em;
            position: relative;
            top: -2px;
            margin: 0;
        }
    }
}
