$gutter-size : 20px;

.row {
    display: flex;

    &.nested {
        margin: 0 $gutter-size * -1;
    }

    .col {
        padding: 0 $gutter-size;

        @for $i from 1 through 12 {
            &.w#{$i} {
                flex: $i;
            }
        }
    }
}
