.scheme-light {
    .title {
        border-bottom: 2px solid white;
    }
}

.scheme-dark {
    .title {
        border-bottom: 2px solid $default-text-color;
    }
}

.title-block {
    text-transform: uppercase;
}

.title {
    display: inline-block;
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 10px;
}
