/// Clear formatting on lists
@mixin ulreset() {
    margin: 0;
    padding: 0;
    list-style: none;
}

/// Add font awesome icon to list
/// @param string $icon Font Awesome Icon
@mixin icon-list($icon) {
    position: relative;
    padding-left: 1.25em;

    &:before {
        font-family: $font-family-icons;
        content: $icon;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/// Shorthand for generating a @font-face definition
/// @param string $name Font name
/// @param string $file [Font Name] File name within fonts
/// @param string $weight Font weight
/// @param string $style Font Style
@mixin fontface($name, $file: $name, $weight: normal, $style: normal) {
    @font-face {
        font-family: $name;
        src: local('#{$file}'),
             url('#{$fa-font-path}/#{$file}.woff2') format('woff2'),
             url('#{$fa-font-path}/#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

/// Position an element
@mixin pos($left: 0, $top: 0, $type: absolute, $right: null, $bottom: null) {
    position: $type;

    @if $bottom == null {
        top: $top;
    } @else {
        bottom: $bottom;
    }

    @if $right == null {
        left: $left;
    } @else {
        right: $right;
    }
}

/// Fit to size of parent element
@mixin cover() {
    @include pos();
    width: 100%;
    height: 100%;
}

/// Absolutely center an element
@mixin centered() {
    @include pos(50%, 50%);
    transform: translate(-50%, -50%);
}

/// Vertically alig an element
@mixin valign() {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/// Style text highlighting
/// @param string $color Font Colour
@mixin selection($color) {
    ::-moz-selection {
        background: $color;
        text-shadow: none;
    }
    ::selection {
        background: $color;
        text-shadow: none;
    }
}

/// Style input placeholders
/// @content
@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/// Convert font size in pixels to rem
/// @param float $size Font size in Pixels
@mixin font-size($size) {
    @if unitless($size) {
        $size: $size * 1px;
    }

    font-size: $size;
    font-size: calculateRem($size);
}

/// Apply an ellipsis overflow
@mixin truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/// Shortcut for applying width and height to an element
/// @param float $width Element width
/// @param float $height Element height
/// @param boolean $rounded [false] Whether to round the elements edges
@mixin box($width, $height: $width, $rounded: false) {
    @if unitless($width) {
        $width: $width * 1px;
    }

    @if unitless($height) {
        $height: $height * 1px;
    }

    width: $width;
    height: $height;

    @if $rounded {
        border-radius: $width;
    }
}

/// Shortcut for making a circular element
/// @param float $diameter Element size
@mixin circle($diameter) {
    @include box($diameter, $diameter, true);
}

/// Shortcut for targeting multiple headings
/// @param integer $start [1] Start heading level
/// @param integer $end [6] End heading level
/// @content
@mixin headings($start: 1, $end: 6) {
    @for $i from $start through $end {
        h#{$i} {
            @content;
        }
    }
}

/// Create a psuedo angle with the background of the parent
/// @param string $pseudo Location of element
/// @param boolean $flip Direction of angle
/// @param float $angle Size of angle
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
        position: relative;
        z-index: 1;
        $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

        #{$selector} {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        @if $pseudo != 'after' {
            &:before {
                top: 0;

                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                } @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }
        }

        @if $pseudo != 'before' {
            &:after {
                bottom: 0;

                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 100%;
                } @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }
    }
}

/// Adds block element self clearing
@mixin clear-fix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/// Apply a clear to bottom of element
/// @alias clear-fix
@mixin clearfix() {
    @include clear-fix();
}

/// hides an element when the provided media query is reached
/// @param string $breakpoint
@mixin hide($breakpoint: null) {
    @if $breakpoint {
        @include breakpoint($breakpoint) {
            & {
                display: none;
            }
        }
    } @else {
        display: none;
    }
}

/// shows an element when the provided media query is reached.
/// @param string $breakpoint
@mixin show($breakpoint: null) {
    @if $breakpoint {
        @include breakpoint($breakpoint) {
            & {
                display: block;
            }
        }
    } @else {
        display: block;
    }
}

/// Add media query to element
/// @param string $breakpoint Add breakpoint to media string
/// @param string $resolution Add dpi to media string
/// @param string $media-type Add additional supplied query types to media string
/// @param string $media-feature Add additional supplied query features to media string
@mixin breakpoint($breakpoint: "", $resolution: "", $media-type: "", $media-feature: "") {
    $media: "";

    // Add breakpoint to media string
    @if $breakpoint != "" {
        @if map-has-key($breakpoints, $breakpoint) {
            $media: inspect(map-get($breakpoints, $breakpoint));
        }
    }

    // Add dpi to media string
    @if $resolution != "" {
        $res-dpi: $resolution * 96;

        @if $media != "" {
            $media: $media + " and";
        }

        $media: $media + " all and (min-resolution: #{$res-dpi}dpi) ";
    }

    // Add additional supplied query types to media string
    @if $media-type != "" {
        @if $media != "" {
            $media: $media + " and ";
        }

        $media: $media + $media-type;
    }

    // Add additional supplied query features to media string
    @if $media-feature != "" {
        @if $media != "" {
            $media: $media + " and ";
        }

        $media: $media + "all and (" + $media-feature + ")";
    }

    @media #{$media} {
        @content;
    }
}
