.banner {
	background: #5cc7b2;
    padding: 2rem 3rem;
    color: white;
    @include font-size(20px);

    h1 {
        @include font-size(52px);
        font-weight: 300;
        line-height: 1em;
        margin: 0;
    }
}
