.footer {
    background: #f5f5f5;
    padding: 2rem 3rem;
    font-family: $font-family-secondary;
    @include font-size(14px);
    color: gray;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        flex: 1;
    }

    .bottom {
        ul {
            display: flex;
        }

        li {
            padding: 0 1rem;
        }
    }
}
