.header {
	background: #5cc7b2;
    padding: 1rem 3rem;
    font-family: $font-family-secondary;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(14px);

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-item {
        padding: 1rem;
    }

    a {
        color: fade-out(white, 0.2);

        &:hover {
            color: white;
        }
    }
}
