.secondary-nav {
    position: fixed;
    width: 17.5rem;
    height: 100%;
    background: #2a3542;
    color: #aeb2b7;
    padding: 1.5rem;
    overflow: auto;

    a:hover {
        color: white;
    }

    .logo {
        text-align: center;
        display: block;
        @include font-size(32px);
        line-height: 1em;
        color: white;
        text-transform: uppercase;
        padding: 1.5rem 0;
        letter-spacing: 2px;
        font-weight: 300;
    }

    nav.secondary {
        font-family: $font-family-secondary;
        padding-top: 1rem;

        .heading {
            font-weight: 400;
            cursor: pointer;
            position: relative;
            @include font-size(16px);
            margin: 0;
            padding: 0.625rem 0.5rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white;
            }

            &.active {
                color: white;

                &:before {
                    content: $fa-var-angle-down;
                    right: 0.325rem;
                }
            }

            &:before {
                content: $fa-var-angle-right;
                font-family: $font-family-icons;
                @include pos($top: 0.625rem, $right: 0.5rem);
                @include font-size(22px);
            }
        }

        .sub-menu {
            padding: 0 0.5rem 0 1.75rem;
            @include font-size(14px);
            display: none;

            &.active {
                display: block;
            }

            li.active {
                color: white;
                display: flex;
                align-items: center;

                &:before {
                    content: $fa-var-caret-right;
                    font-family: $font-family-icons;
                    @include font-size(16px);
                    margin-right: 0.5rem;
                }
            }

            a {
                display: block;
                padding: 0.325rem 0;
            }
        }
    }
}
