html,
button,
input,
select,
textarea {
	color: $default-text-color;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

strong {
    font-weight: bold;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;

	&.alignright {
		float: right;
		margin-left: 15px;
	}

	&.alignleft {
		float: left;
		margin-right: 15px;
	}

    &.aligncenter {
        display: block;
        margin: 0 auto;
    }
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

nav {
	ul {
		@include ulreset;
	}
}

input[type="search"],
*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	@include clear-fix();
	max-width: $max-width;
	margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 100%;
}

.hidden {
	display: none;
}

.header,
.footer,
.banner {
    &.inner {
        margin-left: 17.5rem;
    }
}

small {
    font-size: 0.85em;
}
