.accent-image {
    padding: $block-padding;
    background-size: cover;

    .container {
        display: flex;
        align-items: center;
    }

    &.align-right {
        .accent {
            order: 1;
        }
    }

    .content,
    .accent {
        padding: 0 20px;
    }

    .content {
        flex: 8;
    }

    .accent {
        flex: 4;
        text-align: center;
    }
}
