.content-with-sidebar {
    padding: $block-padding;
    background-size: cover;

    .container {
        display: flex;
    }

    &.side-left {
        .sidebar {
            order: -1;
        }
    }

    &.side-hidden {
        .sidebar {
            display: none;
        }
    }

    .content,
    .sidebar {
        padding: 0 20px;
    }

    /**
     * Content Blocks
     */
    .content {
        flex: 9;

        @import "content/title";
        @import "content/editor";
        /* content-blocks */
    }

    /**
     * Sidebar
     */
    .sidebar {
        flex: 3;

        @import "sidebar/editor";
        @import "sidebar/links";
        /* sidebar-blocks */
    }
}
