.content-grid {
    padding: $block-padding;
    background-size: cover;

    .items {
        text-align: center;
        display: flex;

        &:not(:first-child) {
            padding-top: 30px;
        }
    }

    .item {
        padding: 0 20px;
        flex: 1;
    }

    img {
        display: block;
        margin: 0 auto 20px auto;
        @include circle(300px);
    }

    h6 {
        margin-bottom: 4px;
        text-transform: uppercase;
    }

    p {
        margin-top: 4px;
    }
}
