.hero-block {
    padding: 80px 0;
    text-align: center;
    background-size: cover;

    .title {
        padding: 0 25px 10px 25px;
    }

    .inner {
        width: 60%;
        margin: 0 auto;
    }

    .btn {
        margin: 0 3px;
    }
}
