.links {
    ul {
        @include ulreset();
    }

    li:not(:first-child) {
        padding-top: 6px;
    }

    .heading {
        @include font-size(20px);
        text-transform: uppercase;
    }
}