<nav class="secondary">
	<ul>
		{{#each nav.secondary}}
		<li>
			<h6 class="heading{{#if active}} active{{/if}}">{{ heading }}</h6>
			<ul class="sub-menu{{#if active}} active{{/if}}">
				{{#each items}}
				<li{{#if active}} class="active"{{/if}}><a href="{{ path }}">{{ title }}</a></li>
				{{/each}}
			</ul>
		</li>
		{{/each}}
	</ul>
</nav>
